*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home,
.contactus,
.products,
.services,
.signup{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
}